@import "swiper/css";
.contain {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: antiquewhite;
  margin-bottom: 1rem;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left h3 > a {
  padding: 1rem;
  background-color: aquamarine;
  width: 5rem;
  border-radius: 1rem;
  text-decoration: none;
}
.info {
  display: flex;
}
.info > img {
  width: 2rem;
  height: 2rem;
  text-align: left;
  margin: auto 0;
}
.right .menu_topbar .list {
  display: flex;
  list-style: none;
}
.right .menu_topbar .list .li {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
.right .menu_topbar .list .li > a {
  text-decoration: none;
  transition: color 0.3s;
}
.right .menu_topbar .list .li > a:hover {
  cursor: pointer;
  color: rgb(173, 168, 85);
}

/* product */
#products__heading {
  padding: 1rem 2rem;
  background-color: rgb(207, 228, 235);
  border-radius: 1rem;
  margin: 2rem 1rem;
  width: 15rem;
  font-weight: bold;
  color: rgb(73, 116, 67);
}
.new_products {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem auto;
  align-items: center;
  padding: 0 2rem;
}


.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  box-shadow: 0 0 4px 1px rgb(218, 189, 189);
  height: 15rem;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(199, 228, 228);
}
.product:hover {
  box-shadow: 0 0 8px 2px rgb(218, 189, 189);
}
.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product .title {
  text-align: right;
}
.product .info_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_price {
  display: flex;
  justify-content: start;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.24);
}
.info_product img {
  width: 1rem;
}
.info_product__left {
  display: flex;
}
.product_btn {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.product_btn:hover {
  cursor: pointer;
}

/* swiper */

.swiper-container {
  width: 50%;
  height: 50%;
}

swiper-container.mySwiper {
  margin: 4rem 1rem;
}
/* articles */
.articles {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  justify-content: start;
  padding: 1rem;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 1px gray;
  min-height: 400px;
  width: 300px;
  padding: 1rem;
}
.article > img {
  width: 300px;
}
.article > span {
  height: 50px;
}
/* menu */
.menu_right {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.menu_right .menu > ul > li {
  position: relative;
}
.menu_right .menu > ul > li a {
  transition: color 0.3s;
  text-decoration: none;
  color: black;
}
.menu_right .menu > ul > li a:hover {
  color: red;
  cursor: pointer;
}
.submenus {
  display: none;
  min-height: 100%;
  padding: 0.8rem;
  gap: 0.5rem;
  flex-direction: column;
  position: absolute;
  top: 1.5rem;
  right: 0;
  min-width: 15rem;
  background-color: antiquewhite;
}
.menu li:hover .submenus {
  display: flex;
}
.submenus li > a {
  z-index: 100;
}
/* category */
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 4rem auto;
    align-items: center;
    padding: 0 2rem;
  }
.notting_category{
    background-color: beige;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}
@media screen and (max-width:1200px) {
  .right .menu_topbar .list .li{
    padding: 0;
    margin: 0.5rem 0.5rem;
  }
  .right .menu_topbar .list .li > a{
    font-size: 0.85rem;
  }
  .right>img{
    display: none;
  }
}
@media screen and (max-width:990px) {
  .right>img{
    display: flex;
  }
  .menu_topbar{
    display: none;
  }
}
